.header {
    width: auto;
    height: 5rem;
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4b037b;
  }

  .toggle {
    margin-top: 1rem;
    background-color: transparent;
    color: white;
    border: none;
    padding: 0.15rem 1.5rem;
  }
  
  .header h1 {
    color: white;
  }
  
  .header ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }